---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import enTexts from "../content/contactform/contactform-texts.en.js";
import esTexts from "../content/contactform/contactform-texts.es.js";
import catTexts from "../content/contactform/contactform-texts.cat.js";

// Determine the language from the URL path
const urlPath = Astro.url.pathname;
let texts;

if (urlPath.startsWith('/es')) {
  texts = esTexts;
} else if (urlPath.startsWith('/cat')) {
  texts = catTexts;
} else {
  texts = enTexts;
}
---

<Layout title={texts.pageTitle}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">{texts.pageTitle}</Fragment>
      <Fragment slot="desc">{texts.pageDescription}</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">{texts.contactTitle}</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          {texts.contactDescription}
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>{texts.address}</span>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
            <a href={`mailto:${texts.email}`}>{texts.email}</a>
          </div>
          {texts.phone && texts.phone.trim() !== "" && (
            <div class="flex items-center mt-2 space-x-2 text-gray-600">
              <Icon class="text-gray-400 w-4 h-4" name="uil:phone" />
              <a href={`tel:${texts.phone}`}>{texts.phone}</a>
            </div>
          )}
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
