---
// @ts-ignore
import { Icon } from "astro-icon/components";
import { clients } from "../content/clients.js";

const { lang = "en" } = Astro.props;

let logosTexts;
if (lang === "es") {
  logosTexts = (await import("../content/logos-texts.es.js")).logosTexts;
} else if (lang === "cat") {
  logosTexts = (await import("../content/logos-texts.cat.js")).logosTexts;
} else {
  logosTexts = (await import("../content/logos-texts.js")).logosTexts;
}
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">{logosTexts.heading}</h2>
  <div class="flex gap-8 md:gap-16 items-center justify-center mt-10 flex-wrap">
    {
      clients.map(client => (
        <a href={client.href} target="_blank" rel="noopener" title={client.name}>
          <div class="w-40 h-20 flex items-center justify-center overflow-hidden">
            <img
              src={client.imgSrc}
              alt={client.alt}
              width={client.width}
              height={client.height}
              class="object-contain filter transition w-full h-full"
            />
          </div>
        </a>
      ))
    }
  </div>
</div>
